:root{
    --color-primary: #094fa3;
    --color-dark: #222222;
    --color-danger: #ee3b33;
    --color-secondary: #666666;
    --color-white: #ffffff;
    --ft-sm: 12px;
    --ft-md: 14px;
    --ft-lg: 16px;
  }

  .require::after{
    content: '*';
    color: var(--color-danger);
    font: var(--ft-sm);
  }

  .ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell{
    background-color: var(--color-primary) !important;
    color: var(--color-white);
  }
  .ag-theme-alpine .ag-row {
    font-size: 12px;
  }