:root{
    --color-primary: #094fa3;
    --color-dark: #222222;
    --color-danger: #ee3b33;
    --color-secondary: #666666;
    --color-white: #ffffff;
    --ft-sm: 12px;
    --ft-md: 14px;
    --ft-lg: 16px;
  }

.required:after{
  content: '*';
  color: var(--color-danger);
  font: var(--ft-sm);
}

#basic-nav-dropdown{
  color:var(--color-white) !important; 
}

.bg-blue{
  background-color:var(--color-primary) ;
}

.ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell{
  background-color: var(--color-primary) !important;
  color: var(--color-white);
}

.ag-theme-alpine .ag-row {
  font-size: 12px;
}

.txt-sm{
  font-size: var(--ft-md);
}

.txt-lg{
  font-size: var(--ft-lg);
}

.point{
  cursor: pointer;
}

.ag-theme-alpine .ag-header{
  background-color: var(--color-primary) !important;
}

.ag-theme-alpine .ag-ltr .ag-cell{
  font-family: Inter !important;
font-size: 13px !important; 
color: var(--color-secondary);
}

.error{
  border: 1px solid var(--color-danger);
}

.error-txt{
  font-size: var(--ft-sm);
  color: var(--color-danger);
}

.form-control {
  font-size: var(--ft-sm) !important;
}

.css-1uccc91-singleValue {
  font-size: var(--ft-sm) !important;
}